<div class="container mt-5">
  <h1>Result</h1>

  <%# 1. Check if the original letters array came posted with the form  %>
  <p>These are the letters you were given: <BR>
  <% @randomwordletters.each do |letter| %>
  <p class="badge bg-primary mx-1"><%= letter.capitalize %></p>
  <% end %>
  </p>

  <%# The word can’t be built out of the original grid %>
  <%# The word is valid according to the grid, but is not a valid English word %>
  <%# The word is valid according to the grid and is an English word %>
  <% if @build == false %>
  <%= "Sorry, but #{@word.upcase} can't be build out of the above letters." %>
  <% else %>
    <%= "Congratulations, #{@word} is possible!" if @dictionary["found"] == true %>
    <%= "Sorry, #{@word} is not in the dictionary." if @dictionary["found"] == false %>
  <% end %>

  <%# At the bottom of the results, add a link_to to go back to the New game page. %>
  <BR><%= link_to 'Go back and try again', new_path %>
</div>
